<div class="main">
    <div class="pagination">Yogi > Yogi</div>
    <div class="filters">
        <p>Type</p> 
        <p>View</p>
    </div>
    <div class="list">
        <div class="list-header">
            <div class="col-name">Name</div>
            <div class="col-date">Date Accessed</div>
            <div class="col-type">Type</div>
            <div class="col-size">Size</div>
        </div>
        <div class="list-row-container">
            <div class="list-row">
                <div class="col-name">gtgtgt</div>
                <div class="col-date">gtgtgt</div>
                <div class="col-type">gtgtgt</div>
                <div class="col-size">gtgtgt</div>
            </div>
        </div>
    </div>
</div>