<div class="main">
    <div class="pagination">Yogi > Yogi</div>
    <div class="filters">
        <p>Type</p> 
        <p>View</p>
    </div>
    <div class="list">
        <div class="list-header">
            <div class="col-name">Name</div>
            <div class="col-date">Date Accessed</div>
            <div class="col-type">Type</div>
            <div class="col-size">Size</div>
        </div>
        <div class="list-row-container">
            <% files.userFiles.forEach(file => { %>
                <div class="list-row">
                    <div class="col-name"><%= file.name.slice(0, file.name.lastIndexOf('.')) %></div>
                    <div class="col-date"><%= new Date(file.date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' }) %></div>
                    <div class="col-type"><%= file.type %></div>
                    <div class="col-size"><%= (file.size / (1024 * 1024)).toFixed(2) %> MB</div>
                </div>
            <% }) %>
        </div>
    </div>
</div>