<dialog class="share card">
    <div class="fl-vert">
        <div>
            <p>Share Folder</p>
            <p>Generate a public link to share the current folder and its contents</p>
        </div>
        <form id="share-form" action="/share" method="post" style="width: 100%;" class="fl-vert">
            <label for="duration">Duration</label>
            <select name="duration" id="duration" style="width: 100%; padding: var(--space-xs);" class="card">
                <option value="1hr">1 Hour</option>
                <option value="1day">1 Day</option>
                <option value="1week">1 Week</option>
                <option value="30days">30 Days</option>
            </select>
            <div class="link"></div>
            <div class="file-form fl-horiz">
                <button type="submit">Share</button>
                <button class="cancel" type="button" onclick="document.querySelector('dialog.share').close()">Close</button>
            </div>
        </form>
    </div>
    <script>
        document.getElementById('share-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            const jsonData = Object.fromEntries(formData.entries());
            const response = await fetch('/share', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(jsonData)
            });
            const result = await response.json();
            document.querySelector('div.link').innerText = result.link;
        });
    </script>
</dialog>