<dialog class="card">
    <form action="/upload<%= currFolder ? '?folder=' + encodeURIComponent(currFolder) : '' %>" method="post" class="upload-form fl-vert" enctype="multipart/form-data">
        <input type="file" name="file" id="file" multiple>
        <div id="file-list"></div>
        <div class="file-form fl-horiz">
            <button type="submit">Upload</button>
            <button class="cancel" type="button" onclick="document.querySelector('dialog').close()">Cancel</button>
        </div>
    </form>
    <script>
        const fileInput = document.getElementById('file');
        const fileList = document.getElementById('file-list');

        fileInput.addEventListener('change', renderFiles);

        function renderFiles() {
            fileList.innerHTML = '';

            if (fileInput.files.length > 5) {
                alert("You can only upload a maximum of 5 files at a time.");
                fileInput.value = ""; // Clear the selection
                return;
            }

            const MAX_TOTAL_SIZE = 4 * 1024 * 1024; // 10MB
            const totalSize = Array.from(fileInput.files).reduce((acc, file) => acc + file.size, 0);
            if (totalSize > MAX_TOTAL_SIZE) {
                alert("Total size of all files combined cannot exceed 4MB.");
                fileInput.value = "";
                return;
            }
            Array.from(fileInput.files).forEach((file, index) => {
                const item = document.createElement('div');
                const itemName = document.createElement('p');
                const itemType = document.createElement('p');
                const close = document.createElement('div');
                close.classList.add('delete-file')
                item.classList.add('uploaded-file')
                itemName.textContent = file.name;
                itemType.textContent = file.name.slice(file.name.lastIndexOf('.') + 1).toUpperCase();
                close.textContent = "x"
                item.appendChild(itemName);
                item.appendChild(itemType);
                item.appendChild(close)
                fileList.appendChild(item);

                close.addEventListener('click', () => {
                    const dt = new DataTransfer();
                    const files = Array.from(fileInput.files);
                    const remainingFiles = files.filter((_, i) => i !== index);
                    remainingFiles.forEach(file => dt.items.add(file));
                    fileInput.files = dt.files;
                    renderFiles();
                });
            });
        }
    </script>
</dialog>