/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --bg-main: rgb(18, 18, 18);
  --text-main: white;
  --text-accent: #a6e3ff;
  --border-main: #6c6c74;
  --primary: #1289d3;
  --primary-hover: #133d57;
  --font-stack: "Roboto", "Montserrat", sans-serif;
  --radius: 5px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 1rem;
  --space-lg: 20px;
  --border: 1px solid var(--border-main);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}