/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --bg-main: rgb(18, 18, 18);
  --bg-sec: #1a1a1e;
  --text-main: white;
  --text-accent: #2ebdff;
  --border-main: #6c6c74;
  --primary: #1289d3;
  --primary-hover: #133d57;
  --font-stack: "Roboto", "Montserrat", sans-serif;
  --radius: 5px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 1rem;
  --space-lg: 20px;
  --border: 1px solid var(--border-main);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-stack);
  padding: var(--space-xs);
}

.fl-vert {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.fl-horiz {
  display: flex;
  gap: var(--space-xs);
}

.card {
  background-color: var(--bg-main);
  border: var(--border);
  border-radius: var(--radius);
  padding: var(--space-md);
}

.card2 {
  background-color: var(--bg-sec);
  border: var(--border);
  border-radius: var(--radius);
  padding: var(--space-xs);
  text-align: center;
}

.center {
  align-items: center;
  justify-items: center;
}

.width100 {width: 100%;}

h1 {font-weight: 700; font-size: 1.5em;}

.signup-div, .login-div {
    width: clamp(300px, 30vw, 100rem);
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
    gap: var(--space-lg);
}


input, button {
  background-color: var(--bg-sec);
  border: var(--border);
  border-radius: var(--radius);
  padding: var(--space-xs);
  width: 100%;
  color: var(--text-main);
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

button:disabled:hover {
  background-color: var(--bg-sec);
  cursor: default;
}

a {color: var(--text-accent);}

.index {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: max-content;
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  border: var(--border);
  border-radius: 15px;
  corner-shape: squircle;
}

navbar {
  display: flex;
  justify-content: space-between;
  padding: var(--space-sm);
  grid-column: span 2;
  border-bottom: 1px solid #6c6c74;
  align-items: center;
}

.sidebar {
  border-right: var(--border);
  padding: var(--space-sm);
  gap: var(--space-sm);
}

.new-file, .new-folder {
  padding: var(--space-sm);
}
.categories {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 100%;
}

.categories > div {
  display: flex;
  gap: var(--space-xs);
  width: 100%;
}

.categories > div > p {flex: 1;}

.categories > div:hover > *, .categories > div.active > * {
  background-color: var(--primary);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.categories > div > svg {
  height: min-content;
  width: auto;
}

.pointer {cursor: pointer;}

.pinned:has(*) {border-top: var(--border); padding-top: var(--space-xs);}

.pinned-folder {padding: 0px var(--space-xs);}

.pinned-folder > svg {margin-right: var(--space-xs);}

input[type="file"]::file-selector-button {
  background-color: transparent;
  color: var(--primary);
  cursor: pointer;
  border-radius: 5px;
  border: var(--border);
  padding: var(--space-xs);
}

#file {
  padding: var(--space-sm);
  text-align-last: center;
  width: clamp(300px, 30vw, 100rem);
  gap: var(--space-xs);
}

#file-list {
  display: flex;
  gap: var(--space-sm);
  overflow: auto;
  padding: var(--space-xs) 0px;
}

#file-list:empty {display: none;}

dialog.card {padding: var(--space-lg);}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

dialog.card > form{
  width: clamp(300px, 30vw, 100rem);
  gap: var(--space-sm);
}

.file-form {gap: var(--space-sm);}


#file-list > * > p {
  font-size: 0.9rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#file-list > * {
  text-wrap: nowrap;
  max-width: 8.5rem;
  position: relative;
  background-color: var(--bg-sec);
  padding: var(--space-xs);
  border: var(--border);
  border-radius: 5px;
}

.delete-file {
    position: absolute;
    top: -10%;
    right: -5%;
    width: min-content;
    height: min-content;
    padding: 3px 5px;
    background-color: #1a1a1e;
    border: 1px solid #6c6c74;
    border-radius: 5px;
    line-height: 0.5rem;
    font-size: 0.7rem;
    cursor: pointer;
}

dialog.new-folder-dialog > form {width: 100%;}

dialog.new-folder-dialog > .upload-form > input {margin-bottom: var(--space-sm);}

input:focus {outline: var(--border)}




::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6c6c74;
    border-radius: 3px;
}