h1 {
    margin: 0;
    align-content: end;
    font-weight: 500;
    font: 28px
}

p {margin: 0px}

button {cursor: pointer;}

body {
    background-color: rgb(18, 18, 18);
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: "Roboto", "Montserrat", sans-serif;
}

.signup-div, .login-div {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 30vw, 100rem);
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
    border: 1px solid #6c6c74;
    border-radius: 5px;
    padding: 1rem;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    background-color: #1a1a1e;
    border: 1px solid #6c6c74;
    border-radius: 5px;
    color: white;
    padding: 10px 5px;
}

input:focus {
    outline: 1px solid white;
}

input[type="file"]::file-selector-button {
    background-color: transparent;
    border: 0px;
    color: #a6e3ff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #6c6c74;
}

a {
    color: #a6e3ff;
    text-decoration: underline;
}

button[type="submit"] {
    margin-top: 1rem;
}

.index {
    position: absolute;
    top: 5px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: max-content;
    height: calc(100vh - 10px);
    width: calc(100vw - 20px);
    justify-self: center;
    border: 1px solid #6c6c74;
    border-radius: 15px;
    corner-shape: squircle;
}

navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    grid-column: span 2;
    border-bottom: 1px solid #6c6c74;
}

.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    border-right: 1px solid #6c6c74;
}

.username {
    margin: 10px 0px;
    border: 1px solid #6c6c74;
    border-radius: 5px;
    width: calc(100% - 20px);
    padding: 10px 0px;
    text-align: center;
    background-color: #1a1a1e;
    cursor: pointer;
}

.upload {
    display: flex;
    gap: 5px;
    width: calc(100% - 20px);
    justify-content: space-between;
}

.upload > div {
    border: 1px solid #6c6c74;
    border-radius: 5px;
    padding: 10px;
    background-color: #1a1a1e;
    align-content: center;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    gap: 5px;
}

.upload > div > button {
  width: 100%;
}

#file {
  text-align-last: center;
  background-color: transparent;
  border: 1px solid #6c6c74;
  border-radius: 5px;

}

.categories {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 20px);
}

.categories > div {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.categories > div > * {
    border: 1px solid #6c6c74;
    border-radius: 5px;
    padding: 5px;
    background-color: #1a1a1e;
    height: calc(100% - 10px);
    align-content: center;
}

.categories > div > p {
    flex: 1;
    text-align: center;
}

.main {
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: hidden;
  }
  
  .pagination {
    margin: 10px 0px;
    border-radius: 5px;
    display: flex;
  }

.pagination > span {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filters-and-options {
  display: flex;
  justify-content: space-between;
}

  .filters, .options {
    display: flex;
    gap: 10px;
}

.filters > *, .options > * {
    border: 1px solid #6c6c74;
    border-radius: 5px;
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    display: flex;
    gap: 5px;
    align-items: center;
}

.options > * {
  color: gray;
  pointer-events: none;
  cursor: default;
}

.options svg {
  fill: gray;
}

.filters svg, .options svg {
      height: 1rem;
    width: 1rem;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-height: 0;
}

.list-header, .list-row {
    display: grid;
    grid-template-columns: 6fr 2fr 1fr 1fr; /* Matches the 60/20/10/10 ratio */
    padding: 5px;
    align-items: center;
    gap: 10px;
  }
  
  .list-header {padding: 0px; margin-bottom: 5px;}
  
  .list-header > .col-size {transform: translateX(-7px);}
  
  .list-header > .col-type {transform: translateX(-5px);}
  
  .list-header > .col-date {transform: translateX(-3px);}
  
  .list-row {
    border: 1px solid #6c6c74;
    padding: 8.34px;
    background-color: #1a1a1e;
    transition: background-color 0.2s;
    border-radius: 5px;
    cursor: pointer;
  }

  .list {display:flex; flex-direction: column; height: 100%;}

.list-row:hover, button:hover {
  background-color: #133d57;
}

.list-row.clicked {
  background-color: #1289d3;
}
.options.active > * {
  color: white;
  pointer-events: auto;
  cursor: pointer;
}

.options.active svg {
  fill: white;
}


.file-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.file-form > button {
  margin: 0px;
  width: 100%
}

dialog {
    background: rgb(18, 18, 18);
    border: 1px solid #6c6c74;
    border-radius: 5px;
    flex-direction: column;
    padding: 20px;
    color: white;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 80vw;
}

dialog[open] {
    display: flex;

}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

#file-list {
  display: flex;
  gap: 10px;
  max-height: 150px;
  overflow-y: auto;
  padding: 10px 0px;
}

#file-list:empty {
    display: none;
}

#file-list > * {
  padding: 5px;
  background-color: #1a1a1e;
    border: 1px solid #6c6c74;
    border-radius: 5px;
    max-width: 5rem;
}

#file-list > * > p {
  font-size: 0.9rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#file-list > * {
  text-wrap: nowrap;
      max-width: 8.5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.delete-file {
    position: absolute;
    top: -10%;
    right: -5%;
    width: min-content;
    height: min-content;
    padding: 3px 5px;
    background-color: #1a1a1e;
    border: 1px solid #6c6c74;
    border-radius: 5px;
    /* aspect-ratio: 1 / 1; */
    line-height: 0.5rem;
    /* z-index: 100; */
    font-size: 0.7rem;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6c6c74;
    border-radius: 3px;
}

.col-name, .col-date, .col-type, .col-size {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;
}

.name-and-svg {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow-x: hidden;
}

.name-and-svg > svg {
  min-height: 1rem;
  min-width: 1rem;
  max-height: 1rem;
    max-width: 1rem;
}

.new-name {width: 100%;}


.files-container:empty {
  display: none;
}

.files-container {max-height: min-content;}

.nothing-uploaded {
    height: 100%;
    justify-items: center;
    align-content: center;
    background: #1a1a1e;
    border-radius: 5px;
    border: 1px dashed;
}

h2, h3 {margin: 0;}

.options svg.gold {fill: gold;}





/* From Uiverse.io by kennyotsu-monochromia */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--af-white);
  border: 1px solid #6c6c74;
  border-radius: 25px;
  corner-shape: squircle;
  padding: 0px;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--night-rider);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--night-rider);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 5px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 5px;
}
/* button click effect*/
.Btn:active {
  transform: scale(98%);
}




/* From Uiverse.io by LightAndy1 */ 
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  flex: 1;
  margin: 0 1rem;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding-left: 2.5rem;
  border: 1px solid #6c6c74;
  border-radius: 12px;
  background-color: #1a1a1e;
  outline: none;
  color: #bdbecb;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
  border-radius: 25px;
  corner-shape: squircle;
}

.input::-webkit-search-cancel-button {
  display: none;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  border: 1px solid white;
}

.input:active {
  transform: scale(0.99);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}
