/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --bg-main: rgb(18, 18, 18);
  --bg-sec: #1a1a1e;
  --text-main: white;
  --text-accent: #2ebdff;
  --border-main: #6c6c74;
  --primary: #1289d3;
  --primary-hover: #133d57;
  --font-stack: "Roboto", "Montserrat", sans-serif;
  --radius: 5px;
  --space-xs: 5px;
  --space-sm: 10px;
  --space-md: 1rem;
  --space-lg: 20px;
  --border: 1px solid var(--border-main);
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: var(--font-stack);
}

.fl-vert {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.card {
  background-color: var(--bg-main);
  border: var(--border);
  border-radius: var(--radius);
  padding: var(--space-md);
}

h1 {font-weight: 500;}

.signup-div, .login-div {
    width: clamp(300px, 35vw, 100rem);
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
    gap: var(--space-lg);
}


input, button {
  background-color: var(--bg-sec);
  border: var(--border);
  border-radius: var(--radius);
  padding: var(--space-xs);
  width: 100%;
  color: var(--text-main);
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

button:disabled:hover {
  background-color: var(--bg-sec);
  cursor: default;
}

a {color: var(--text-accent);}