h1 {
    margin: 0;
    align-content: end;
    font-weight: 500;
}

body {
    background-color: rgb(18, 18, 18);
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: "Roboto", "Montserrat", sans-serif;
}

.signup-div, .login-div {
    display: flex;
    flex-direction: column;
    width: clamp(300px, 30vw, 100rem);
    justify-self: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
    border: 1px solid #6c6c74;
    border-radius: 25px;
    corner-shape: squircle;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    background-color: #1a1a1e;
    border: 1px solid #6c6c74;
    border-radius: 25px;
    corner-shape: squircle;
    color: white;
    padding: 10px 5px;
}

input:focus {
    outline: 1px solid white;
}

a {
    color: #a6e3ff;
    text-decoration: underline;
}

button[type="submit"] {
    margin-top: 1rem;
}

navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: 1px solid #6c6c74;
}













/* From Uiverse.io by kennyotsu-monochromia */ 
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--af-white);
  border: 1px solid #6c6c74;
  border-radius: 25px;
  corner-shape: squircle;
  padding: 0px;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--night-rider);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--night-rider);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 5px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 5px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px ,2px);
}




/* From Uiverse.io by LightAndy1 */ 
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  flex: 1;
  margin: 0 1rem;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding-left: 2.5rem;
  border: 1px solid #6c6c74;
  border-radius: 12px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::-webkit-search-cancel-button {
  display: none;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  border: 1px solid white;
}

.input:active {
  transform: scale(0.99);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}
