
/* From Uiverse.io by kennyotsu-monochromia */
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: var(--af-white);
  border: 1px solid #6c6c74;
  border-radius: 5px;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: var(--night-rider);
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: var(--night-rider);
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 5px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 5px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 5px;
}
/* button click effect*/
.Btn:active {
  transform: scale(98%);
}




/* From Uiverse.io by LightAndy1 */ 
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  flex: 1;
  margin: 0 1rem;
  height: 100%;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding-left: 2.5rem;
  border: 1px solid #6c6c74;
  border-radius: 12px;
  background-color: #1a1a1e;
  outline: none;
  color: #bdbecb;
  transition: all 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
  border-radius: 5px;
  height: 100%;
}

.input::-webkit-search-cancel-button {
  display: none;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  border: 1px solid white;
}

.input:active {
  transform: scale(0.99);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}